body{
    background-image:url("https://cdn2.hercampus.com/hero-images/2018/04/09/beachh.jpg");
}
#title{
    display:flex;
    justify-content:center;
    font-size:330%;
    font-family: 'Crimson Text', serif;
    letter-spacing:2.5px;
}
#subtitle{
    display:flex;
    justify-content:center;
    font-family: 'Cabin', sans-serif;
    font-size:120%;
}
#create{
    display:flex;
    justify-content:center;
}
.new{
    font-size:15px;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    background-color:#64615B;
    color:white;
}
::placeholder {
  color:white;
  opacity: 1;
}
#add{
    margin-top:10px;
    font-size:17px;
    background-color:#FBED0D;
    border-radius:15%;
}
.name{
    margin-top:30px;
    height:75px;
    width:300px;
    background-color:#64615B;
    font-family: 'Crimson Text', serif;
    font-size:50px;
    display:flex;
    justify-content:center;
}
.artist{
    height:50px;
    width:300px;
    background-color:#64615B;
    font-family: 'Crimson Text', serif;
    font-size:25px;
    display:flex;
    justify-content:center;
}
.image{
    height:300px;
    width:300px;
    background-color:#64615B;
    display:flex;
    justify-content:center;
}
img{
    width:75%;
    height:75%;
}
.video{
    height:50px;
    width:300px;
    background-color:#64615B;
    font-family: 'Crimson Text', serif;
    font-size:20px;
    display:flex;
    justify-content:center;
}
a{
    text-decoration: none;
    color:white;
    font-family: 'Cabin', sans-serif;
}
a:hover{
    text-decoration: underline;
}